@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Roboto&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Montserrat:wght@600&family=Roboto&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat";
}

.signup-form {
  display: flex;
  flex-direction: column;

  width: 450px;
  margin: 0 auto;
  background-color: rgb(236, 239, 181);
}

#main-heading {
  color: #086788;
  font-family: "Libre Baskerville";
  font-weight: 400;
  margin-bottom: 15px;
}

#main-heading > span {
  font-family: "Libre Baskerville";
  font-weight: 700;
  font-size: 48px;
}

#first-para {
  font-size: 20px;
  font-weight: 500;
  color: #086788;
  margin-bottom: 14px;
}

.input-field {
  height: 70px;
  width: 447px;
  border: 1px solid rgba(0, 0, 0, 0.7);
  border-radius: 10px;
}

#email {
}
